// @import "compass";
// Fonts
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
$font-base: 'Open Sans', Arial, sans-serif;

$blue-1: #005fc4;
$blue-2: #0c7ead;

.s97mailclient {
	background: #c3c3c3;
	font-family: $font-base;
	font-size: 14px;
	line-height: 150%;
}

// Buttons
// .btn {
// 	border: none;
// 	cursor: pointer;
// 	display: block;
// 	font-family: $font-base;
// 	font-size: 16px;
// 	outline: none;
// 	padding: 15px;
// 	transition: all .1s linear;
// }

// Inbox wrapper
$app-height: 500px;
$msglist-height: $app-height / 2.5;
$msgview-height: $app-height - $msglist-height;
// $sidebar-width: 200px;
$sidebar-width: 0px;

.wrapper {
	// box-shadow: 0 4px 20px rgba(51, 51, 51, .2);

	*, *:before, *:after {
		box-sizing: border-box;
	}

	margin: 0px auto;
	overflow: auto;
	// width: 400px;

	.navbar-xs .navbar-primary .navbar { min-height:32px; height: 32px; }
	.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 32px; }
	.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 32px; }
	.navbar-xs .navbar {
		margin-bottom: 5px;
	}


	.email-item__details.email-item__details {
		margin-right: 0px;
		margin-left: -5px;
	}

	.truncate {
		// display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	.mailtruncate {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.disclaimer {
		margin: 0 auto 50px;;
		text-align: center;
		width: 400px;
	}

	.inbox-container {
		float: left;
		height: $app-height;
		width: calc(100% - #{$sidebar-width});
	}

  .please-wait {
    text-align: center;
    margin-top: $app-height/2 - 16;
  }

  .message-please-wait {
    text-align: center;
    padding-top: $msglist-height/2 - 16;
  }

  .inbox-list-short {
    height: $msglist-height;
  }
  .inbox-list {
    height: $app-height;
  }
  .inbox-message {
    height: $msgview-height;
  }

	.email-composer {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 10px;

		textarea {
			height: 320px;
		}
	}

	.mde-text {
		height: ($app-height - 20 - 34 - 38 - 34 - 20 - 40);
	}
	.mde-text #ta1 {
		height: 100%;
	}

	table {
    border-collapse: collapse;
    empty-cells: show;
		width: 100%;
    display: table;
	}

	table th {
	}

	table td {
		height: auto;
    padding: initial;
    border: none;
    text-align: initial;
    color: initial;
    font-size: initial;
	}

	table {
		background-color: initial;
	}

	ul li {
		line-height: auto;
		font-weight: normal;
    font-size: 14px;
	}

	.sticky {
		position: sticky;
    top: 0;
    height: 32px;
    left: 0;
    right: 0;
    z-index: 100;
	}

	.stickyheader {
		position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
	}
}

#sidebar {
	background: #34393d;
	float: left;
	height: $app-height;
	width: $sidebar-width;

	.sidebar__inboxes {
		margin-top: 50px;

		.item-count {
			background: #34393d;
			border-radius: 5px;
			float: right;
			padding: 2px 8px;
			margin: -2px -8px;
		}

		li a {
			color: #fff;
			cursor: pointer;
			display: block;
			margin-bottom: 10px;
			padding: 15px;
			text-decoration: none;
			transition: background .1s linear;
			width: 100%;

			&:hover {
				background: #404549;
			}
		}

		.fa {
			margin-right: 10px;
		}
	}

	.btn.compose {
		color: #fff;
		padding: 30px 15px;
		text-align: center;
		text-decoration: none;
		transition: all .1s linear;
		width: 100%;
		// @include background-image(linear-gradient(bottom right, $blue-1, $blue-2));

		&:hover {
			background-size: 150%;

			.fa {
				-webkit-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}

		.fa {
			margin-left: 10px;
			transition: all .1s linear;
		}
	}
}

// Email list
.email-list {
	background: #f5f5f5;
	float: left;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	width: 100%;
	position: relative;

	&.empty {
		color: #aaa;
		padding-top: 200px;
		text-align: center;
	}

	.email-item {
		background: #fff;
		border-bottom: 1px solid #eee;
		cursor: pointer;
		padding: 0px;
		position: relative;

		&.selected {
			color: $blue-1;
			background-color: #cde6f7;
		}

		&__subject {
			// margin-bottom: 8px;
			padding-left: 10px;
		}

		&__details {
			font-size: 12px;
			// opacity: .5;
			// text-transform: uppercase;
		}

		&__unread-dot {
			height: 100%;
			right: 10px;
			position: absolute;
			top: 10px;

			&[data-read="false"]:before {
				background: $blue-1;
				border-radius: 50%;
				content: '';
				display: block;
				height: 6px;
				width: 6px;
			}
		}

		&__time {
			float: right;
			text-align: right;
			width: 40%;
		}

		&__from {
			padding-left: 10px;
		}

		&__from.truncate {
			width: 60%;
		}

		&:hover:not(.selected) {
			background: #fafafa;
		}
	}
}

// Email content
.email-content {
	background: #fff;
	// border-left: 1px solid #ddd;
	float: left;
	height: $msgview-height;
	position: relative;
	overflow-y: scroll;
	width: 100%;
	border-top: 3px outset #676767;

  &__header {
		background: #f3f3f3;
		border-bottom: 1px solid #dedede;
		padding: 5px 30px 5px 0px;
		// height: 84px;
		// border-top: 1px solid #dedede;
	}

  &__attachments {
		margin-bottom: 10px;
    background-color: #ececec;
    padding: 10px;
    width: 100%;
	}

  &__singleattachment {
    padding-bottom: 0px;
    height: 25px;
  }

	&__subject {
    font-size: 14px;
    margin: 0px 0;
    padding-right: 30px;
	}

	&__details {
		font-size: 12px;
		opacity: .5;
		text-transform: uppercase;
	}

	&__time {
		color: rgb(38, 40, 40);
		float: right;
    margin-right: 30px;
	}

	&__from {
		color: rgb(38, 40, 40);
	}

	&__message {
    // overflow-y: auto;
    // height: $msgview-height - 84;
		padding: 15px 15px 15px;
	}

	.delete-btn {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 35px;
    top: 15px;
		transition: color .1s linear;

		&:hover {
			color: #E23E57;
		}
	}

	.close-btn {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 15px;
    top: 15px;
		transition: color .1s linear;

		&:hover {
			color: #E23E57;
		}
	}
}

// Footer
.footer {
	background: #f5f5f5;
	border-top: 1px solid #ddd;
	color: #999;
	clear: both;
	font-size: 14px;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.wrapper [role="button"]:focus {
	outline: 0;
}
